@model CRUDEx.Models.Product

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>


<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(p=>p.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(p=>p.ProductName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
       

        <div>
            <input type="submit" value="Delete" />
        </div>
    }
</div>


